
.index {
    width: 100%;
    height: 100vh;
}
.page-section{
    margin: .68267rem 0 1.19467rem;
}
.picker{
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: .512rem;
    font-size: .78267rem;
    font-weight: 700;
    line-height: 1.5;
}
.picker::before {
    top: 0;
    bottom: auto;
    margin-left: 2%
}

.bt-sure {
    width: 60%
}

.pie-chart {
    width: 100%;
    height: 50vh;
  }