@import "~taro-ui/dist/style/components/tab-bar.scss";
@import "~taro-ui/dist/style/components/badge.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/toast.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.page-section{
    margin: .68267rem 0 1.19467rem;
}
.picker{
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: .512rem;
    font-size: .78267rem;
    font-weight: 700;
    line-height: 1.5;
}
.picker::before {
    top: 0;
    bottom: auto;
    margin-left: 2%
}

.bt-sure {
    width: 60%
}

.move-chart {
    width: 100%;
    height: 56%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.container {
    height: 100vh;
}